$brown: peru;
.brown {
    background-color: $brown;
}
$yellow: gold;
.yellow {
    background-color: $yellow;
}
$green: SeaGreen;
.green {
    background-color: $green;
}
$red: OrangeRed;
.red {
    background-color: $red;
}
$purple: Orchid;
.purple {
    background-color: $purple;
}
$blue: SkyBlue;
.blue {
    background-color: $blue;
}
$white: AntiqueWhite;
.white {
    background-color: $white;
}